<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <style>
    .err {
      color: red;
    }
  </style>
</head>

<body>
  <span class="red"><%=errorMsg.loginErr%></span>
  <span class="red"><%=errorMsg.NetWorkErr%></span>
  <form action="http://localhost:3000/login" method="post">
    name:<input type="text" name="name" value="<%=errorMsg.name%>" /><br /><br />
    <span class="err"><%=errorMsg.emailErr%></span> password:<input type="password" name="password" />
    <span class="err"><%=errorMsg.passwordErr%></span> <br /><br />
    submit:<input type="submit" />
  </form>
</body>

</html>